* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.navegador {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.container-elementos-navegador {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.textos-nav a {
    text-decoration-line: none;
}

.textos-nav a:hover {
    text-decoration-line: underline;
}

.button-login {
    inline-size: 90px;
    block-size: 30px;
    background-color: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: #ffff;
}

.button-login:hover {
    cursor: pointer;
}

.contenido-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 100px;
}

.contenido-header .content-logo {
    width: 300px;
    height: 200px;
}

.contenido-header .content-logo .img-logo {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.content-form {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.content-form .form {
    background-color: #ffff;
    border: 1px solid #c28383;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-form .form .input-format {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input-button .button-signUp {
    inline-size: 400px;
    block-size: 40px;
    background-color: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: #ffff;
}

.content-form .form .input-format label {
    padding-bottom: 10px;
}

.content-form .form .input-format input {
    height: 40px;
    font-size: 18px;
    padding: 5px;
}

.content-form .form footer {
    background-color: #b5b5b5;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: unset;
    top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-form .form footer p+a {
    color: #4c4c4c;
    font-size: 11px;
}

.content-form .form .form-textos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.content-form .form .form-textos h2 {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.content-form .form .form-textos a {
    text-decoration: none;
    padding-top: 5px;
}

.content-form .form footer a {
    text-decoration: none;
}

.content-form .form footer a:hover {
    text-decoration: underline;
}

.content-form .form .input-format input:focus {
    box-shadow: 0px -2px 20px 2px rgba(0, 116, 153, 0.33);
    -webkit-box-shadow: 0px -2px 20px 2px rgba(0, 116, 153, 0.33);
    -moz-box-shadow: 0px -2px 20px 2px rgba(0, 116, 153, 0.33);
    outline: #0077C5;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #FFFF;
    height: 50px;
}